<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <% if ( kindOfDay === "Sunday" || kindOfDay === "Monday" ) { %>
      <h1 style="color: purple"> It's <%= kindOfDay %> </h1>
    <% } else { %>
      <h1 style="color: red">It's <%= kindOfDay %> </h1>
    <% } %>

    <ul>
      <li>Buy Food</li>
      <li>Cook Food</li>
      <li>Eat Food</li>
    </ul>

  </body>
</html>
